*
{
    margin:0%;
    padding: 0%;
    box-sizing:border-box;
}
body
{
    background-color: rgb(93, 184, 184);
}
.main
{
    height:200px;
    width:30%;
    background-color: antiquewhite;
    position:absolute;
    top:20%;
    left:35%;
    border:3px solid black;
    
}
#input
{
    height: 50px;
    width:45%;
    position:relative;
    top:20px;
    left:15px;
    border-radius:20px;
}
::placeholder                                
{
    font-size: 20px;
    position: relative;  
    left:10px;
}
#button
{
    height:40px;
    width:25%;
    position:relative;
    top:130px;
    right:30px;
    font-size:18px;
    background-color: rgb(36, 114, 179);
}
.list
{
    height:600px;
    width:100%;
    position:relative;
    top:170px;
    /* background-color: red; */
}
